body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #3f445eff 0%, #3a2e46ff 100%);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* canvas {
    border: 3px solid #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
} */

.btn:hover {
    transform: translateY(-1px);
}

.btn:active {
    transform: translateY(1px);
}
